@charset "UTF-8";

body{
  background-color: rgba(114, 194, 194, 0.247);
}
/*div{
    
    display: inline-block;
   background-color: aquamarine;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}*/
main{
  text-align: left;
  border-radius: 5px;
  padding: 30px;
  width: 1500px;
  height: 2px;
  background-color: rgb(62, 150, 172);

}